<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>HomePage</title>
</head>
<body>
   <h1 class="bg-slate-400 py-3 text-3xl flex justify-center items-center border">HomePage</h1>
   <ul class="container flex flex-col justify-center items-center leading-10">
    <% clients.forEach((client) => {%>
       <a href="/clients/<%= client._id %>"><li><%= client.name %></li></a> 
        <%}) %>
   </ul>
</body>
</html>